
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<g_auto.Models.ReservationService>


<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h1 class="mr-auto">
        Appointments
    </h1>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="@Url.Action("ExportAppointments","ExportExcel")" class="button box flex items-center text-gray-700 excel_export"> <i data-feather="file-text" class="hidden sm:block w-4 h-4 mr-2 "></i> Export to Excel </a>
    </div>
</div>
<!-- BEGIN: Datatable -->
<div class="intro-y datatable-wrapper box p-5 mt-5">
    <table class="table table-report table-report--bordered display datatable w-full">
        <thead>
            <tr>
                <th class="border-b-2 whitespace-no-wrap">№</th>
                <th class="border-b-2 text-left whitespace-no-wrap">SERVICE NAME</th>
                <th class="border-b-2 text-center whitespace-no-wrap">DATE POSTED</th>
                <th class="border-b-2 text-center whitespace-no-wrap">APP DATE</th>
                <th class="border-b-2 text-center whitespace-no-wrap">APP TIME</th>
                <th class="border-b-2 text-center whitespace-no-wrap">CUSTOMER NAME</th>
                <th class="border-b-2 text-center whitespace-no-wrap">STATUS</th>
                <th class="border-b-2 text-center whitespace-no-wrap">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FirstOrDefault() != null)
            {
                foreach (g_auto.Models.ReservationService item in Model)
                {
                    <tr>
                        <td class=" border-b">@(item.Id)</td>
                        <td class="border-b">
                            <div class="font-medium whitespace-no-wrap">@(item.Service!=null?item.Service.Title:"*Deleted*")</div>
                        </td>

                        <td class="text-center border-b">@item.PostDate.ToString("MMM d, yyyy")</td>
                        <td class="text-center border-b">@item.AppDate.ToString("MMM d, yyyy")</td>
                        <td class="text-center border-b">@item.Time.ToString("HH:mm")</td>
                        <td class="text-center border-b">@(item.User!=null? item.User.FullName:"*Deleted*")</td>

                        <td class="w-40 border-b">
                            @if (item.isCancelled)
                            {
                                <div class="flex items-center sm:justify-center text-theme-6 service_status"> <i data-feather="x-circle" class="w-4 h-4 mr-2"></i> Cancelled </div>
                            }
                            else if (item.isActive)
                            {
                                <div class="flex items-center sm:justify-center text-theme-10 service_status"> <i data-feather="activity" class="w-4 h-4 mr-2"></i> Active </div>
                            }
                            else if (item.isFinished)
                            {
                                <div class="flex items-center sm:justify-center text-theme-9 service_status"> <i data-feather="check" class="w-4 h-4 mr-2"></i> Finished </div>
                            }
                            else
                            {
                                <div class="flex items-center sm:justify-center text-theme-11 service_status"> <i data-feather="alert-circle" class="w-4 h-4 mr-2"></i> Pending </div>
                            }

                        </td>
                        <td class="border-b w-5">
                            <div class="flex sm:justify-center items-center status_container">

                                @if (item.isFinished)
                                {
                                    <span>No Actions</span>
                                }
                                else if (item.isCancelled)
                                {
                                    <span>No Actions</span>

                                }
                                else
                                {
                                    if (item.isActive == false && item.isCancelled == false)
                                    {
                                        <a class="flex items-center mr-3 text-theme-9 confirm_app_service" href="javascript:;"data-id="@item.Id"> <i data-feather="check" class="w-4 h-4 mr-1"></i> Confirm</a>
                                    }
                                    if (item.isActive)
                                    {
                                        <a class="flex items-center mr-3 text-theme-1 finish_app_service" href="javascript:;" data-id="@item.Id"> <i data-feather="check" class="w-4 h-4 mr-1"></i> Finish</a>
                                    }
                                    if (item.isCancelled == false)
                                    {
                                        <a class="flex items-center text-theme-6 cancel_app_service" href="javascript:;" id="" data-id="@item.Id"> <i data-feather="x" class="w-4 h-4 mr-1"></i> Cancel </a>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div class="modal" id="delete-confirmation-modal-app">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
            <div class="text-3xl mt-5">Are you sure?</div>
            <div class="text-gray-600 mt-2">Are you sure you want to cancel the Appointment? This process cannot be undone.</div>
        </div>
        <div class="px-5 pb-8 text-center">
            <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Dismiss</button>
            <button type="button" id="btn-cancel-app" data-id="" class="button w-60 bg-theme-6 text-white">Cancel The Appointment</button>
        </div>
    </div>
</div>

<div class="modal" id="confirm-confirmation-modal">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="help-circle" class="w-16 h-16 text-theme-10 mx-auto mt-3"></i>
            <div class="text-3xl mt-5">Are you sure?</div>
            <div class="text-gray-600 mt-2">Are you sure you want to confirm the Appointment?</div>
        </div>
        <div class="px-5 pb-8 text-center">
            <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Dismiss</button>
            <button type="button" id="btn-confirm-app" data-id="" class="button w-60 bg-theme-10 text-white">Confirm</button>
        </div>
    </div>
</div>

<div class="modal" id="finish-confirmation-modal">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="help-circle" class="w-16 h-16 text-theme-10 mx-auto mt-3"></i>
            <div class="text-3xl mt-5">Are you sure?</div>
            <div class="text-gray-600 mt-2">Are you sure you want to finish the Appointment?</div>
        </div>
        <div class="px-5 pb-8 text-center">
            <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Dismiss</button>
            <button type="button" id="btn-finish-app" data-id="" class="button w-60 bg-theme-10 text-white">Confirm</button>
        </div>
    </div>
</div>